<h1>
    Welcome to our Playlist app!
</h1>

<a href="/artists">
    <h2>See all artists</h2>
</a>

<a href="/songs">
    <h2>See all songs</h2>
</a>

<a href="/genres">
    <h2>See all genres</h2>
</a>